html, body {
    background-color: #f4f4f4;
    color: #00B7FF;
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.tile {
    margin:17px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    transition: all 0.4s ease-out;
    background-size: cover;
    position: relative;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    max-width: 520px;
}

.tile:hover{
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px black;
    transform:scale(1.05);
}

.red-button {
    background-color: #ed1e1e;
    border-color: #ed1e1e;
    color: #fff;
}

.red-button:hover {
    background-color: #e26161;
    border-color: #e26161;
}