.wrap
{
    margin:50px auto 0 auto;
    width:100%;
    display:flex;
    align-items:space-around;
    max-width:1200px;
}

.tile
{
    width:450px;
    height:100px;
    margin:17px;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    overflow:hidden;
    color:#5F6263;
    font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    border: 1px solid #e1e8ed;
    padding: 20px 20px 11.6px 20px;
}


.animate-text
{
    opacity:0;
    transition: all 0.6s ease-in-out;
}
.tile:hover
{
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform:scale(1.05);
}
.tile:hover img
{
    opacity: 0.2;
}
.tile:hover .animate-text
{
    transform:translateX(0);
    opacity:1;
}

.tile:hover span
{
    opacity:1;
    transform:translateY(0px);
}

@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width:400px;
    }
}