$site-background: #f4f4f4;
$site-create-button: #00b7ff;

$todo-tile-border: #e1e8ed;
$todo-tile-hover: #000;

$createtodo-delete-button-foreground: #fff;
$createtodo-delete-button-background: #ed1e1e;
$createtodo-delete-button-border: #ed1e1e;
$createtodo-delete-button-hoover-background: #e26161;
$createtodo-delete-button-hoover-border: #e26161;
